body, html {
    margin: 0;
}

.gameBoard {
    background-color: blue;
    width: 200px;
    height:250px;
}

.piece {
    position:fixed;
    border: 2px solid black;
}

.SmallPiece {
    background-color: yellow;
}

.LongPiece {
    background-color: purple;
}

.BigPiece {
    background-color: red;
}